<h1>Regitration</h1>
<form action="/data" method = "GET">
    <p>Name <input type = "text" name = "name" required/></p>
    <p>Username <input type = "text" name = "username" required/></p>
    <p>Sex <input type = "radio" name = "Sex" value="M" required/>M <input type = "radio" name = "Sex" value="F" required/>F <input type = "radio" name = "Sex" value="A" required/>Altro</p>
    <p>password <input type = "password" name = "psw" required /></p>
    <p>Verifica password <input type = "password" name = "Verificapassword" required/></p>
    <p><input type = "submit" value = "Submit" required/></p>
</form>