<form action="/data" method = "GET">
    <p>Name <input type = "text" name = "name" /></p>
    <p>Username <input type = "text" name = "username" /></p>
    <p>Sex <input type = "radio" name = "Sex" value="M" />M <input type = "radio" name = "Sex" value="F" />F <input type = "radio" name = "Sex" value="A" />Altro</p>
    <p>password <input type = "password" name = "psw" /></p>
    <p>Verifica password <input type = "password" name = "Verificapassword" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>